# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env

# PyTorch model files
*.pt

# VS Code settings
.vscode/

# OS / Editor junk
.DS_Store
Thumbs.db

# Docker-related
*.log

# SQLite DB (if used locally)
*.sqlite3

# Data file
/data/